.error {
         color: red;
         font-family: arial;
         font-size: 10pt;
         fontstyle:italic;
}
body{
    background-color:#F0F0FF;
    background-image: url(../img/background.png);
    background-attachment: fixed;
    background-repeat:no-repeat;
}
h1{
    font-size: 32pt;
}
#wrapper {
	width:800px;
	margin:auto;
	background-color:#FFFFFF;
}
#header {
	height:80px;
	background-image:url(../img/header_logo.png);
  background-repeat:no-repeat;
	height:120px;
}
#menu {
	background-image:url(../img/menu.png);
	height:25px;
	padding-top:5px;
	text-align:center;
}
#menu a, #footer a{
	color:#333;
	text-decoration:none;
	font-weight:bold;
}
#menu a:hover, #footer a:hover{
	text-decoration:underline;
}
#contenido {
	padding:20px;
}
#footer {
	background-image:url(../img/footer.png);
	height:150px;
	text-align:center;
}
.Button_green {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
            text-align:center;
            text-decoration: none;
            font-family: 'Helvetica Neue', Helvetica, sans-serif;
            display:inline-block;
            color: #black;
            background: #46DF10;
             padding: 15px 25px;
            white-space: nowrap;
            -webkit-border-radius: 28px;
            -moz-border-radius: 28px;
            border-radius: 28px;
            margin: 10px 5px;
            -webkit-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

}
.Button_green:hover {
	background-color:greenyellow;
}
.Button_green:active {
	position:relative;
	top:1px;
}
.Button_blue {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
           text-align:center;
           text-decoration: none;
           font-family: 'Helvetica Neue', Helvetica, sans-serif;
           display:inline-block;
           color: #black;
           background: #00C5FF;
           padding: 15px 25px;
           white-space: nowrap;
           -webkit-border-radius: 28px;
           -moz-border-radius: 28px;
           border-radius: 28px;
           margin: 10px 5px;
           -webkit-transition: all 0.2s ease-in-out;
           -ms-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
           -o-transition: all 0.2s ease-in-out;
           transition: all 0.2s ease-in-out;

}
.Button_blue:hover {
	background-color:cyan;
}
.Button_blue:active {
	position:relative;
	top:1px;
}
.Button_red {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
           text-align:center;
           text-decoration: none;
           font-family: 'Helvetica Neue', Helvetica, sans-serif;
           display:inline-block;
           color: #black;
           background: #EDFC06;
           padding: 15px 25px;
           white-space: nowrap;
           -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
           border-radius: 100px;
           margin: 10px 5px;
           -webkit-transition: all 0.2s ease-in-out;
           -ms-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
           -o-transition: all 0.2s ease-in-out;
           transition: all 0.2s ease-in-out;
}
.Button_red:hover {
	background-color:red;
}
.Button_red:active {
	position:relative;
	top:1px;
}
.googlemaps{
  float:left;
  width: 100px;
  height: 450px;
  }
  .mapa{
    width: 785px;
    height: 300px;
 }
 #titulo{
   font-weight: bold;
   font-family: cursive;
   font-size: 4;
   color: Red;
   text-align:center;
 }
 #titulo2{
   font-weight: bold;
   font-family: cursive;
   font-size: 4;
   color: Red;
   text-align:center;
 }
 .borrar{
   float:left;
 }
